@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", Arial;
}

h1 {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #40916c;

  a {
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #1b4332;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.social-header,
.hero-animation {
  display: none;
}

.hero {
  background-color: #40916c;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #1b4332;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #40916c;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: 3b3b3b3;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured img {
  border-radius: 1em;
  height: 300px;
}

.other-works {
  background: #40916c;
}

.other-works-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one {
      width: 50px;
    }
    &.two {
      width: 50px;
    }
    &.three {
      width: 50px;
    }
  }

  .other-works-title {
    font-weight: bold;
  }

  .other-works-desc {
    margin-bottom: 2em;
  }
}

.skills {
  background: #f7f7f7;
}

.skills-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
  height: 300px;
}

@media only screen and (min-width: 800px) {
  .featured,
  .skills {
    text-align: left;
  }
  .featured,
  .skills-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .skills-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .other-works-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .skills {
    padding-top: 7em;
  }

  .skills-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;

    header {
      background: #40916c;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }

  .social-header {
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 12em;
      float: right;

      img {
        width: 30px;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: #40916c;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }
  .meet {
    display: unset;
  }

  .hero-animation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills img {
    float: right;
    max-width: 500px;
  }
  .featured img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }

  .social-header {
    padding: 2em 10em 2em 8em;
  }
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
